
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Générateur de Fiche Formation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <div id="app" class="container">
    <h1 class="title">Générateur de Fiche Formation</h1>

    <!-- field est égal aux champs du formulaire  -->

    <!--le formulaire empeche l'envoi avec submit.prevent 
    (empêche le comportement par défaut qui est de soumettre le formulaire.)-->
    <form @submit.prevent>
      <h2 class="section-title">Contenu principal</h2>
      <!-- boucle parcourant chaque champ de  main qui dans config/ l'élément clé des 
       données: id de field-->
      <div v-for="field in config.main" :key="field.id" class="form-group">
        <!-- affiche nom champs -->
        <label :for="field.id">{{ field.label }}</label>

        <!-- champs -->
        <!-- type: inputText -->
        <input v-if="field.type === 'inputText'" type="text" :id="field.id" v-model="stockage.main[field.id]" class="input" />

        <!-- type: Textarea -->
        <textarea v-else-if="field.type === 'textarea'" :id="field.id" v-model="stockage.main[field.id]" class="textarea"></textarea>

        <!-- type: Markdown -->
        <textarea v-else-if="field.type === 'markdown'" :id="field.id" v-model="stockage.main[field.id]" class="textarea markdown-textarea" placeholder="Markdown"></textarea>

        <!-- type: link -->
         <div v-else-if="field.type === 'link'" class="link-group">
          <div class="form-group">
            <label :for="field.id + '_label'">Label</label>
            <input :id="field.id + '_label'" type="text" v-model="stockage.main[field.id].label" class="input" />
          </div>
          <div class="form-group">
            <label :for="field.id + '_url'">URL</label>
            <input :id="field.id + '_url'" type="url" v-model="stockage.main[field.id].url" class="input" />
          </div>
        </div>
        <!-- type inconnu -->
        <div v-else class="error">Type inconnu : {{ field.type }}</div>
      </div>


      <!--boucle pour la partie complémentaire-->
      <h2 class="section-title">Informations complémentaires</h2>

      <div v-for="field in config.aside" :key="field.id" class="form-group">
        <label :for="field.id">{{ field.label }}</label>

        <!--type champs-->

        <input v-if="field.type === 'inputText'" type="text" :id="field.id" v-model="stockage.aside[field.id]" class="input" />

        <textarea v-else-if="field.type === 'textarea'" :id="field.id" v-model="stockage.aside[field.id]" class="textarea"></textarea>

        <textarea v-else-if="field.type === 'markdown'" :id="field.id" v-model="stockage.aside[field.id]" class="textarea markdown-textarea" placeholder="Markdown"></textarea>

        <div v-else class="error">Type inconnu : {{ field.type }}</div>
      </div>
    </form>
  </div>

  <script>
    const config = {
      main: [
        { id: "objectifs", label: "Objectifs", type: "markdown", default: ""
        },
        { id: "ficheUrl", label: "Bouton vers la fiche formation", type: "link", 
          fields: ["label", "url"], default: {
          label: "Voir la fiche",
          url: "https://caensup.fr/"
          }
        },
        { id: "missions", label: "Missions", type: "markdown", default: ""
        },
        { id: "secteurs", label: "Secteurs d'activité", type: "textarea", default: ""
        },
        { id: "debouches", label: "Métiers et débouchés", type: "textarea", default: ""
        },
        { id: "competences", label: "Blocs de compétences", type: "markdown", default: ""
        },
        { id: "inscription", label: "Inscription", type: "markdown", default: ""
        },
        { id: "video", label: "Vidéo de présentation", type: "inputText", default: ""
        }
      ],
      aside: [
        { id: "prerequis", label: "Prérequis", type: "textarea", default: ""
        },
        { id: "rythme", label: "Rythme", type: "textarea", default: ""
        },
        { id: "alternance", label: "Dispositif d'alternance", type: "textarea", default: ""
        },
        { id: "financements", label: "Autres financements", type: "textarea", default: ""
        },
        { id: "infos", label: "Informations complémentaires", type: "textarea", default: ""
        }
      ]
    };

    const app = Vue.createApp({
      data() {
        //l'objet contiend données organisées par zones(main,aside) 
        const stockage = {};
        //boucle parcours chaque partie de config(main/aside))
        for (const zone in config) {
          stockage[zone] = {};
          //on parcours chaque champ (avec field) dans une des 2 zones (main/aside)
          config[zone].forEach(field => {
            //chaque champ a une valeur défine par défaut ou vide sinon
            stockage[zone][field.id] = field.default ?? "";
          });
        }
        return {
          config,
          stockage
        };
      }
    });

    app.mount('#app');
  </script>
</body>
</html>
